---
aliases: 
tags:
  - digital_circuits
  - verification
  - TODO
---
