---
aliases: 
tags:
  - digital_circuits
---

# Design Verification

- Simulation results do not guarantee the correctness and functionality of a design
- Simulation only tells how the design reacts under a given set of input excitations
- Design Verification is used to detect design errors in the circuits
- Three Types of Design Verification
	- [[Ivan Lecture Slides#Electrical Verification|Electrical Verification]]
	- [[Ivan Lecture Slides#Timing Verification|Timing Verification]]
	- [[Ivan Lecture Slides#Formal Verification|Formal Verification]]
